/* Your code here */
body{
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
}
/* Supplied CSS follows. */
.header-nav__group{
  display: flex;
  background-color:#026AA7;
  font-size: 16px;
  line-height: 20px;
  padding: 4px;
  color: white;
}

.header-nav__container{
  display: flex;
  justify-content: space-between;
  background-color: #026AA7;

}
.header-nav__button {
  display: inline-flex;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background-color: hsla(0,0%,100%,.3);
  box-shadow: none;
  color: #fff;
  line-height: 32px;
  margin: 0 4px 0 0;
  transition: .1s ease;
  white-space: nowrap;
  padding: 8px;
  height: 20px;
}
#alerts{
  background-color: #CF513D;
}
.header-nav__button#search > input {
  border-style: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav__button > .boards-label {
  font-weight: 700;
  padding-left: 4px;
}

.header-nav__trello-logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5px;
}

 .header-nav__button > i{
  width: 24px;
}
@media screen and (max-width:730px){
  #search{
    display: none;
  }
  .boards-label{
    display: none;
  }
}
.team__container{
  background-color: #f4f5f7;
  padding: 32px;
}
.team__info{
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}
.team__info > h1 {
  margin: 0 0 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px ;
}
.team__info > a {
  color: #172b4d;
  font-weight: normal;
  line-height: 20px ;
}
.tabbed-nav__container{
  background-color: #f4f5f7;
}
.tabbed-nav__group{
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
}
.tabbed-nav__link{
  background-color: white;
  border: 1px solid #dfe1e6;
  border-bottom: 0px;
  border-radius: 2px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  margin: 0 5px;
  color: #172b4d;
}
@media screen and (max-width:500px){
  .tabbed-nav__group{
    display: block;

  }
  .tabbed-nav__link{
    display: block;
  }
}
.boards__board.board-1{
  object-fit:none;
  background-image: url('board-backgrounds//board-1-background.jpg');
  
}
.boards__board.board-2{
  object-fit: cover;
  background-image: url('board-backgrounds//board-2-background.jpg');
  
}
.boards__board.board-3{
  object-fit: cover;
  background-image: url('board-backgrounds//board-3-background.jpg');
  
}
.boards__board.board-4{
  object-fit:none;
  background-image: url('board-backgrounds//board-4-background.jpg');
  
}
.boards__board.board-5{
  object-fit: cover;
  background-image: url('board-backgrounds//board-5-background.jpg');
  
}
.boards__board.board-6{
  object-fit: cover;
  background-image: url('board-backgrounds//board-6-background.jpg');
  
}
.boards__board.board-7{
  object-fit:none;
  background-image: url('board-backgrounds//board-7-background.jpg');
  
}
.boards__board.board-8{
  object-fit: cover;
  background-image: url('board-backgrounds//board-8-background.jpg');
  
}
.boards__board.board-9{
  object-fit: cover;
  background-image: url('board-backgrounds//board-9-background.jpg');
  
}
.boards__board.board-10{
  object-fit: cover;
  background-image: url('board-backgrounds//board-10-background.jpg');
  
}
.boards__container{
  margin: 0 auto;
  padding: 32px;
  max-width: 1400px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  
}
.boards__sidebar{
  background-color: #6C547B;
  border-radius: 3px;
  margin: 0 32px 32px 0;
  padding: 0 20px 32px 20px;
  max-width: 180px;
  max-height: 130px;
  width: 20%;
  flex-basis: 220px;
}
.boards__sidebar > .title{
  color: white;
}
.boards__sidebar > a{
  color: white;
}
.boards__sidebar-content > .description{
  color: lightblue;
}
.boards__group{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
.boards__board{
  background-color: hotpink;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: bold;
  height: 100px;
  margin: 0 8px 16px;
  max-width: 250px;
  padding: 4px 8px;
  position: relative;
  color: white;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width:750px) and (max-width:1200px) {
  .boards__board{
    width: 33%;
  }
}
@media screen and (max-width:750px) {
  .boards__board{
    width: 100%;
    max-width: none;
  }
}